* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Minecraft";
  display: flex;
  justify-content: center;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../assets/images/backgrounds/background.jpg") no-repeat center center;
}

h1 {
  display: none;
}

.logo {
  width: 75rem;
  height: 50rem;
  background: url("../assets/images/logo/logo.png") no-repeat center center;
  margin-bottom: 100px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 300px;
}

.button {
  font-size: 1.5rem;
  color: #efefef;
  width: 200px;
  height: 50px;
  margin: 5px;
  border: 1px solid #aaaaaa;
  background: #555555;
  cursor: pointer;
}

.button:hover {
  background: #3b8526;
}

.show-rules-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background: #555555;
}

.show-rules {
  display: none;
  height: 100%;
  width: 100%;
  background: url("../assets/images/rules.png") no-repeat center center/contain;
}

/* Game Logic */
.world-Container {
  display: none;
  background: #add8e6;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

.block {
  width: 2.927rem;
  height: 2.927rem;
}

/* Elements Logic */
#cloud {
  background: #fafafa;
}

.dirt {
  background-image: url("../assets/images/Dirt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grass {
  background-image: url("../assets/images/Grass.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.oak {
  background-image: url("../assets/images/Oak-Log.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leaves {
  background-image: url("../assets/images/Leaves.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stone {
  background-image: url("../assets/images/Stone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}